<h2><%= @contractor.full_name %> (<%= @contractor.email %>)</h2>

<h4>Please fill in information for the following voters:</h4>

<% for voter in @contractor.voters %>
  <p><%= voter.full_name %> - <%= voter.address %></p>
<% end %>